<mat-toolbar color="accent">
  <span>
    <a routerLink="/">
      <span>Event</span>
    </a>
  </span>
  <span>
    <a
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/posts"
    >
      <span>Posts</span>
    </a>

    <a
      ><button mat-flat-button (click)="onLogIn()" mat-dialog-close>
        Login
      </button></a
    >

    <a
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/login"
    >
      <span>Logout</span>
    </a>

    <a *ngIf="!isAuthenticated"
      ><button mat-flat-button (click)="onSignUp()" mat-dialog-close>
        Signup
      </button></a
    >
  </span>
</mat-toolbar>
