<mat-toolbar class="toolbar" color="primary">
  <div class="flexbox-item flexbox-item-logo">
    <a><img src="../assets\DHBW.png" alt="Atos logo" /></a>
  </div>

  <span>
    <a
      *ngIf="isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/posts"
    >
      <span>Posts</span>
    </a>

    <a *ngIf="!isAuthenticated"
      ><button mat-flat-button (click)="onLogIn()" mat-dialog-close>
        Login
      </button></a
    >

    <a
      class="logout"
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/home"
    >
      <span>
        <mat-icon>exit_to_app</mat-icon>
      </span>
    </a>

    <a *ngIf="!isAuthenticated"
      ><button mat-flat-button (click)="onSignUp()" mat-dialog-close>
        Signup
      </button></a
    >
  </span>
</mat-toolbar>
